<form [formGroup]="taskForm" #taskNgForm="ngForm" (ngSubmit)="saveTask(taskNgForm)">
  <h1 mat-dialog-title>
    <span *ngIf="addMode">Add Task</span>
    <span *ngIf="!addMode">Edit Task - {{task?.TaskID}}</span>
  </h1>
  <mat-divider></mat-divider>

  <div>
    <!-- Row 1 -->
    <div class="row mt-3">
      <div class="col-md-12">
        <!-- Task Summary  -->
        <mat-form-field hintLabel="Max 100 characters">
          <input matInput name="TaskSummary" formControlName="TaskSummary" placeholder="Summary"
            [ngModel]="task?.TaskSummary" ngModel>
          <!-- Hint -->
          <mat-hint align="end">{{taskForm.value.TaskSummary?.length || 0}}/100</mat-hint>
          <!-- Required Field Error -->
          <mat-error
            *ngIf="taskForm.controls['TaskSummary'].hasError('required') && taskForm.controls['TaskSummary'].touched">
            This field is <strong>required</strong>
          </mat-error>
          <!-- Pattern Error -->
          <mat-error
            *ngIf="taskForm.controls['TaskSummary'].hasError('pattern') && taskForm.controls['TaskSummary'].touched">
            Enter character that is either a letter or a number.
          </mat-error>

        </mat-form-field>
      </div>

    </div>

    <!-- Row 2 -->
    <div class="row mt-3">
      <div class="col-md-4">
        <!-- Start Date  -->
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Choose Start Date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput [matDatepicker]="endDate" placeholder="Choose End Date">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">

      </div>
    </div>

    <!-- Row 4 -->
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="row">
          <!-- Button Save Changes -->
          <div class="col-md-8 text-right" mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="taskForm.invalid" type="submit" cdkFocusInitial
              title="Save Changes">
              <mat-icon>add</mat-icon>
              <span>Save Changes</span>
            </button>
          </div>
          <!-- Cancel -->
          <div class="col-md-4" mat-dialog-actions>
            <!--   -->
            <button mat-flat-button type="reset" [mat-dialog-close]="{ 'DialogResult': 'Closed' }">
              <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>