table {
  width: 100%;
}

.mat-column-AssociateNumber {
  width: 15% !important;
}
.mat-column-FirstName {
  width: 20% !important;
}
.mat-column-LastName {
  width: 20% !important;
}
.mat-column-Location {
  width: 20% !important;
}
.mat-column-IsActive {
  width: 15% !important;
}
.mat-column-Action {
  width: 10% !important;
}
